.post-item {
  display: block;
  .img-link {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    .main-img {
      object-fit: cover;
      object-position: center;
      overflow: hidden;
      border-radius: 10px;
    }
  }

  .info {
    position: relative;
    z-index: 3;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 350px;
    margin: -50px auto 0 auto;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    .row1 {
      position: relative;
      display: flex;
      justify-content: center;
      font-weight: bolder;
      padding: 5px 0;
      img {
        position: absolute;
        top: -6px;
        right: -6px;
        width: 40px;
        height: auto;
        padding: 7px;
      }
    }
    .row2 {
      font-size: 13px;
      margin-top: 7px;
      color: #8d918d;
    }
    .row3 {
      text-align: end;
      font-size: 13px;
      margin-top: 5px;
      span {
        text-transform: capitalize;
      }
    }
  }
}

@media screen and (min-width: 450px) {
  .post-item {
    .main-img {
      height: 300px;
    }
    .info {
      .row1,
      .row2,
      .row3 {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .post-item {
    .main-img {
      height: 250px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .post-item {
    .main-img {
      height: 300px;
    }
  }
}
