@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$main-bg: #0e60ff;
$main-bg2: #9e3bff;
$second-bg: #8fa5ff;
$second-bg2: #c397ff;
$third-bg: #e9f0ff;
$third-bg2: #f8f7ff;
$blue: #2967be;
$orange: #ff8e34;
$gray: #8d918d;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 100px !important;
}

.app {
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

// GENERAL STYLES
input,
textarea,
select {
  font-size: 16px !important;
}
h1 {
  text-align: center;
  color: $second-bg;
}

// CHANGE PREDEFINED STYLES
li {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

// GENERAL PAGE LAYOUT
.section-wide {
  width: 100%;
}

.section-narrow,
.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

//BUTTONS STYLE

.button1,
.button3,
.button4,
.button5 {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: $orange;
  color: white !important;
  font-weight: 600;
  font-size: 16px;
  border: none;
}

.button2 {
  padding: 5px 20px;
  background-color: transparent;
  color: $gray;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid $gray;
  margin-top: 50px;
}

.button3 {
  background-color: $second-bg;
}

.button4 {
  background-color: $gray;
}

.button5 {
  background-color: red;
}

.acc-link {
  display: block;
  padding: 10px 20px 5px 20px;
  margin-top: 5px;
  border-bottom: 1px solid $gray;
  color: $gray !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.redirect-link {
  display: block;
  text-align: center;
  color: $blue !important;
  text-decoration: underline !important;
  margin-top: 30px;
}

// GLOBAL CLIENT COMPONENTS

.post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 700px;
  margin: 20px auto;
  .button1,
  .button3,
  .button4,
  .button5 {
    width: 45%;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
}
