@use "@/app/globals.scss";
.accform,
.logregform,
.addform {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 0 20px 50px 20px;
  color: globals.$blue;
  margin: 20px auto 0 auto;

  label {
    margin-top: 10px;
    font-weight: bold;
  }

  input,
  textarea,
  select {
    max-width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid globals.$third-bg;
    background: linear-gradient(globals.$third-bg, globals.$third-bg2);
    outline: none;
    font-weight: 600;
    color: globals.$gray;
  }

  textarea {
    resize: none;
  }

  select {
    padding: 2px;
  }

  .group-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    > select {
      margin-top: 10px;
    }

    > div {
      margin-top: 10px;
      max-width: calc(50% - 5px);
    }
  }

  .images-input {
    .images-upload {
      input {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    button {
      display: block;
      margin-left: auto;
      margin-bottom: 10px;
    }
    .images-display {
      display: flex;
      align-items: center;
      gap: 15px;

      .img-box {
        position: relative;

        span {
          position: absolute;
          top: -10px;
          right: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
          width: 20px;
          background-color: globals.$third-bg;
          border-radius: 50%;
          font-weight: 600;
          color: globals.$gray;
        }
        img {
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
  .button1 {
    margin-top: 30px;
  }
  > span {
    margin-top: 30px;
    text-align: center;
  }
}

.accform {
  .button3 {
    margin-top: 30px;
  }
}

@media screen and (min-width: 600px) {
  .accform,
  .logregform,
  .addform {
    > label {
      margin-top: 20px;
    }
    input,
    textarea,
    select {
      padding: 8px 25px;
    }
    .button1 {
      padding: 8px 20px;
    }
  }
  .addform {
    .images-input {
      .images-display {
        justify-content: space-around;
        .img-box {
          position: relative;
          span {
            font-size: 19px;
            height: 25px;
            width: 25px;
          }
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
    .group-box {
      display: flex;
      align-items: center;
      gap: 10px;
      > select {
        margin-top: 10px;
      }

      > div {
        margin-top: 10px;
        max-width: calc(50% - 5px);
      }
    }
  }
}
