@use "../app/globals.scss";
.navigation {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  padding: 0 20px;
  background: linear-gradient(to right, globals.$main-bg, globals.$main-bg2);
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    padding: 5px;
  }

  .wishlist {
    position: relative;
    margin-left: auto;
    > span {
      position: absolute;
      top: -3px;
      right: -3px;
      background-color: globals.$main-bg2;
      border-radius: 5px;
      padding: 0 1px;
      font-size: 11px;
    }
  }
}
