@use "@/app/globals.scss";

.post-page {
  position: relative;
  margin-bottom: 50px;

  .go-back {
    position: absolute;
    top: 0px;
    left: 10px;
    padding: 10px;
  }

  .date {
    font-size: 13px;
    color: globals.$main-bg22;
    padding-left: 20px;
  }

  .title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 20px;
    > img {
      width: 35px;
      height: 35px;
    }
  }

  .categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    padding: 0 20px;
    .item {
      text-wrap: nowrap;
      text-transform: capitalize;
      background-color: globals.$main-bg22;
      color: white;
      border-radius: 10px;
      padding: 5px 10px;
    }
  }

  .description {
    margin: 20px 20px 0 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 14px;
    background-color: globals.$second-bg2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    .box {
      width: 100%;
      display: flex;
      justify-content: space-around;

      div {
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 16px;
        color: white;
      }
    }

    .login-redirect {
      text-align: center;
      max-width: 300px;
      margin-top: 20px;
      font-size: 16px;
      color: white;
      text-decoration: underline;
    }

    .contact {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      a,
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 5px 20px;
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: globals.$main-bg2;
        img {
          color: globals.$second-bg;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .post-page {
    .date {
      display: block;
      text-align: center;
    }
    .title-row {
      max-width: 800px;
      margin: 20px auto 0 auto;
      h2 {
        font-size: 40px;
      }
    }
    .description {
      max-width: 800px;
      margin: 20px auto 0 auto;
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 900px) {
}
